//Kbd
$kbd-background-colors-support-parser: (
    background-color: 'background-inner-color',
    color: 'color'
) !default;

$kbd-background-colors-support-extra-colors-palette: () !default;
$kbd-background-colors-support-skip-colors-palette: null !default;